{% extends "!layout.html" %}


{# 1.ヘッダー。 画面上部に「FUMIE TAZAKI」と常時表示 #}
　　{%- block header%}
	<div id ='header'>
		<p>FUMIE TAZAKI</p>
	</div>
　　{% endblock %}


{# 2.リレーションバー1 (本文の上)。　ナビゲーションを新規作成　#}
　　{% block relbar1 %}
	<nav id="style">
		<ul>
			<li><a class = "navi" href='file:///C:/Users/nao_l/Desktop/edit/_build/html/index.html'> Home </a></li>
			<li><a class = "navi" href='file:///C:/Users/nao_l/Desktop/edit/_build/html/contents/CV.html'> 履歴 (﻿CV) </a></li>
			<li><a class = "navi" href='file:///C:/Users/nao_l/Desktop/edit/_build/html/contents/Achievement.html'> 研究業績 (Achievement) </a></li>
{#			<li><a class = "navi" href='file:///C:/Users/nao_l/Desktop/edit/_build/html/contents/その他.html'> その他  </a></li>　#}
	　	</ul>
　　　　</nav> 
　　{% endblock %}

{# 3.リレーションバー2　(本文の下)。 必要ないので消す。　#}
　　{% block relbar2 %}
　　	{# 記述なし。この状態で｛super｝を消している。　#}
　　{% endblock %}

{# 4.リレーションバー2　(本文の下)。 footerブロックの中にCSSで調整するため、元からあったものを"div#foot"で囲む。　#}　　
　　{% block footer %}
	<div id="foot">
		{{ super()}}
　　	</div>
　　{% endblock %}   